body {
  background-color: black;
  color: seashell;
  font-family: Helvetica;
  opacity: 0.9;
  text-align: center;
  font-size: 22px;
  margin: 0px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Header */
header {
  height: 69px;
  width: 100%;
  position: fixed;
  z-index: auto;
  border-bottom: 1px solid seashell;
  background-color: black;
  align-items: center;
}

nav {
  text-align: right;
  flex-grow: 1;
  margin-right: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

#logo {
  height: 50px;
  margin-left: 10px;
}

a {
  color: seashell;
}
/* End Header */
.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
  z-index: 0;
  overflow: auto;
}

#mission {
  height: 700px;
  background-image: url(img-mission-background.jpg);
  padding-top: 70px;
}

.content {
  margin: auto;
  background-color: black;
  width: 100%;
}

.item {
  padding: 5px;
}

.item img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

.item span {
  display: block;
  font-weight: bold;
  text-align: center;
}

#store {
  width: 1000px;
  height: 700px;
  margin: auto;
}

#locations {
  background-image: url(img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
}

.location {
  background-color: black;
  width: 300px;
  opacity: 1.0;
  padding: 10px;
  margin: 5px 20px;
  flex-direction: column;
  flex-basis: 280px;
}

p {
  margin-top: 22px;
  margin-bottom: 22px;
}

#contact {
  height: 200px;
}

footer {
  padding-left: 20px;
  text-align: left;
}
